<div class="notifications-container">
<div *ngFor="let notification of notifications; trackBy: trackByFn; let i = index"
     [style.top.px]="getTopPosition(i)"
     [@slideInOut]="notification.state"
     (@slideInOut.done)="onRemoveAnimationDone($event, i)"
     [@fadeShiftUp]="notifications.length"
     class="popup-notification">
    <div class="icon-text-container">
        <div class="icon-container">
            <i class="fas fa-bell"></i>
        </div>
        <div class="close-container">
            <button (click)="hideOffer(i)" class="close-button" >
            <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="details-container">
            <h3>New Offer!</h3>
            <p *ngIf="notification.farmer">{{ notification.farmer.farmerFirstName }} {{ notification.farmer.farmerLastName }}</p>
            <p *ngIf="notification.transaction">{{ notification.transaction.grainType }} <a *ngIf="notification.transaction.grainClass != 'None'">{{ notification.transaction.grainClass }}</a></p>
            <p *ngIf="notification.transaction">Dryness: {{ notification.transaction.dryness }}%, Cleanliness: {{ notification.transaction.cleanliness }}%</p>
            <p *ngIf="notification.transaction">Weight: {{ notification.transaction.grainWeight }}t, Wanted Pay: {{ notification.transaction.wantedPay | number:'1.2-2' }} Eur</p>
            <div class="button-container">
                <button (click)="acceptAndChangeStatus(notification.transaction.transactionId, i)" class="accept-button">
                    <i class="fas fa-check"></i> Accept
                </button>
                <button (click)="denyAndChangeStatus(notification.transaction.transactionId, i)" class="deny-button">
                    <i class="fas fa-times"></i> Deny
                </button>
            </div>
        </div>
    </div>
</div>
</div>
