<!-- <div class="popup-notification" *ngIf="showPopup">
    <h3>Naujas pasiūlymas!</h3>
    <p>{{ farmer.farmerFirstName }} {{ farmer.FarmerLastName }}</p>
    <p>{{ transaction.grainType }} {{ transaction.grainClass }}</p>
    <p>Dryness: {{ transaction.dryness }}, Cleanliness: {{ transaction.cleanliness }}</p>
    <p>Weight: {{ transaction.grainWeight }}, Wanted Pay: {{ transaction.wantedPay }}</p>
    <button (click)="acceptOffer()">Accept</button>
    <button (click)="denyOffer()">Deny</button>
</div> -->