<ul class="border">
    <li *ngFor="let transaction of transactions">
        grainType {{ transaction.grainType}} - grainClass {{transaction.grainClass}} - Dryness {{transaction.dryness}} - Cleanliness {{transaction.cleanliness}}
    </li>
</ul>

<ul class="border">
    <li *ngFor="let farmer of farmers">
        {{ farmer.farmerFirstName}} - {{farmer.farmerLastName}}
    </li>
</ul>

<ul class="border">
    <h1>Trucks</h1>
    <li *ngFor="let truck of trucks">
        {{truck.truckNumbers}} - {{truck.truckStorage}}
    </li>
</ul>